<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="table-container  mat-elevation-z8">
      <table mat-table [dataSource]="listData" >
          <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> 
                <mat-checkbox (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row ">
                  <mat-checkbox id='{{row.id}}'  value={{row.id}}
                  (click)="$event.stopPropagation()"
                  (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)"></mat-checkbox> 
              </td>
          </ng-container> 
        
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element "> {{element.name}} </td>
        </ng-container>
    
        
        <ng-container matColumnDef="mobile">
          <th mat-header-cell *matHeaderCellDef > Mobile </th>
          <td mat-cell *matCellDef="let element "> {{element.mobile}} </td>
        </ng-container>
    
        
        <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef> Age </th>
          <td mat-cell *matCellDef="let element "> 
            <div *ngIf="element.age>18; else elseBlock">
              Adult 
            </div>
            <ng-template #elseBlock>
              Teenager
            </ng-template>
            </td>
        </ng-container>
    
        
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element "> {{element.email}} </td>
        </ng-container>
        
        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef> City </th>
          <td mat-cell *matCellDef="let element "> {{element.city}} </td>
        </ng-container>
        
        <ng-container matColumnDef="dob">
          <th mat-header-cell *matHeaderCellDef> DOB </th>
          <td mat-cell *matCellDef="let element "> {{element.dob}} </td>
        </ng-container>

        <ng-container matColumnDef="customColumn1">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row "> 
              <button mat-icon-button  (click)="onEdit(row)"><mat-icon>edit</mat-icon></button>
          </td>
        </ng-container>
        <ng-container matColumnDef="customColumn2">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row ">
            <button mat-icon-button color="warn" (click)="onSingleDelete(row.id)"><mat-icon>delete</mat-icon></button>
          </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns ;sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div class="element-to-stick-to-bottom">
        <mat-grid-list cols="2" rowHeight="50px">
          <mat-grid-tile >
            <button mat-raised-button color="primary" (click)="onMultipleDelete()">Delete</button>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      
    </div>

